[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "==2.3.0"
flask-wtf = "==1.0.1"
python-dotenv = "==0.21.0"
wtforms = "==3.0.1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
