
/* DEFAULT SMALLEST SCREEN */
#title{
   font-size: 2em;
   text-shadow: 5px 5px 10px grey;

}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
   #title{
      font-size: 2em;
   }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
   #title{
      font-size: 5em;
   }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
   #title{
        font-size: 5em;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
   #title{
      font-size: 5em;
   }   
 } 

   p{
      margin-bottom: 10rem;
      
 }

   .iconimages2{
   width: 100%;
   height: 100%;
   border-radius: 25%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .iconimages1{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 

 .iconimages1:hover{
   /* opacity: 0.5; */
   transition: .5s ease;
   background-color: rgba(150,150,150,0.5);
   /* background-color-transparent: rgba(220,220,220,0.5); */
 }

 .iconimages2:hover{
  /* opacity: 0.5; */
  transition: .5s ease;
  background-color: rgba(150,150,150,0.5);
  /* background-color-transparent: rgba(220,220,220,0.5); */
}


/* For now this is commented out because this is not the background we want. */

  html, body{
   height: 100%;
   background-image: url(../imgs/FinalSiteBackground.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-size: 100vh;
   background-size: 100vw;
   background-position: bottom;
   overflow: hidden;

   
   /* background-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0)70%); */
   
}