{% extends "base.html" %}
{%block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <p style="font-size: 80px;color:#FFFFFF; text-shadow: 5px 5px 10px rgb(6, 6, 6);">Mission Statement 
            </p>
            <p style="font-size: 20px;color:#FFFFFF">We believe that everyone deserves to know how they are changing 
                the world we live in. In this current state of the world, new technologies are being developed to try to 
                mitigate our damaging affects on climate change. Our helpful tool we developed allows the user to visualize the data 
                of their own carbon footprint depending on how they change their behavior. With simple graphs that are easy 
                to read, our program will help you make your choice towards a better future.  
            </p>
        </div>
    </div>
</div>
{%endblock%}