{% extends "base.html" %}
{%block content%}

<div class="conatiner">
    <div class="row mx-2">
        <div class="col text-center mx-3">
            <img width="30%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Michael.png">
            <p style="margin-top: 15%; text-align: left; font-size: 14x;color:#ffffff; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Email:   michael.ogorman@go.stcloudstate.edu<br>
                LinkedIn:  linkedin.com/michael-ogorman<br><br>
                Hey, my name is Michael O'Gorman and I'm a senior at St. Cloud State University.  I love computer science and tutor for the computer science department at St. Cloud State.  I am currently open to offers on full time positions after graduation this May.  I specialize in Full Stack development, but love all types of programming.
            </p>
        </div>
        <div class="col text-center mx-3">
            <img width="30%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Lucas.jpeg">
            <p style="margin-top: 15%; text-align: left; font-size: 14x;color:#FFFFFF; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Email: Lucasjamesralph@gmail.com  <br>
                LinkedIn:  https://www.linkedin.com/in/lucas-ralph-995116207/<br><br>
                Hello, I'm Lucas! I'm a senior at the University of Minnesota majoring in Computer Science. I would like to go into software development, and I hope to someday make an impact and benefit the world in a big way. 
            </p>
        </div>
    </div>
    <div class="row mx-2">
        <div class="col text-center mx-3">
           <img width="30%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Dan.JPG">
            <p style="margin-top: 15%; text-align: left; font-size: 14x;color:#FFFFFF; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Email: dan.beletsky@gmail.com  <br>
                LinkedIn: https://www.linkedin.com/in/danbeletsky/ <br><br>
                Hey! My name is Dan Beletsky and I'm a junior in Electrical Engineering. I really enjoy the hardware part of electronics but I believe that learning software is essential to be a well rounded engineer. I hope to one day apply my knoweledge to benefit society!
            </p>
        </div>
        <div class="col text-center mx-3">
            <img width="30%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Lily.jpeg">
            <p style="margin-top: 15%; text-align: left; font-size: 14x;color:#FFFFFF; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Email: cicho039@morris.umn.edu  <br><br><br>
                Hey, I'm Lily. I'm a junior at the University of Minnesota Morris. I am studying Biology and Data Science. In the future, I strive to work in a research lab analyzing statistics and helping our community.
            </p>
        </div>
    </div>
</div>

{%endblock%}



<!-- <div class="conatiner">
    <div class="row">
        <div class="col text-center">
            <img width="10%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Michael.png">
            <p style="font-size: 14x;color:#ffffff; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Michael is my name, bad website names are my game
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img width="10%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Lucas.jpeg">
            <p style="font-size: 14x;color:#FFFFFF; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Hello I'm Lucas, I'm a senior at the University of Minnesota majoring in Computer Science. I would like to go into software development, and I hope to someday make an impact and benefit this world distinctly. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
           <img width="10%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Dan.JPG">
            <p style="font-size: 14x;color:#FFFFFF; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Hey! My name is Dan Beletsky and I'm a junior in Electrical Engineering. I really enjoy the hardware part of electronics but I believe that learning software is essential to be a well rounded engineer. I hope to one day apply my knoweledge to benefit society!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img width="10%" style="border-radius: 50%;" class="img-fluid" src="/static/imgs/Lily.jpeg">
            <p style="font-size: 14x;color:#FFFFFF; text-shadow: 2px 2px 15px rgb(6, 6, 6);"> 
                Hey I'm Lily...
            </p>
        </div>
    </div>
</div> -->