{% extends "base.html" %}
{%block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <p style="color:#000000" id="title">Mission Statement 
            </p>
            <div class="bg-light rounded border border-success text-start">
                <p style="font-size: 20px;color:#000000;" class="p-3">We believe that everyone deserves to know how they are changing 
                    the world we live in. In this current state of the world, new technologies are being developed to try to 
                    mitigate our damaging affects on climate change. Our helpful tool we developed allows the user to visualize the data 
                    of their own carbon footprint depending on how they change their behavior. With simple graphs that are easy 
                    to read, our program will help you make your choice towards a better future.  
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}