{% extends "base.html" %}
{%block content%}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="form-control">
                <form form action="{{ url_for('result') }}", method="POST" action="/">
                    {{ form.csrf_token }}
                    <label class="mb-3 mt-1">Enter information about your current car:</label>

                    <div class="mb-2">
                        {{form.stateSelect.label}}
                        {{ form.stateSelect(class_="form-control") }}


                        {{ form.mpg.label }}
                        {{ form.mpg(class_="form-control") }}

                        {{ form.mpw.label }}
                        {{ form.mpw(class_="form-control") }}

                    </div>
                    <label class="mt-3 mb-2">Enter information about your future car:</label>
                    <div class=" mb-2">
                        {{form.carSelect.label}}
                        {{ form.carSelect(class_="form-control") }}

                        {{form.carCost.label}}
                        {{ form.carCost(class_="form-control") }}

                    </div>
                    {{form.submit(class_="form-control btn btn-primary")}}
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}