{% extends "base.html" %}
{%block content%}
<div class="container-fluid mt-5">
    <div class="text-center" id="title">
        <p>Choose Area to Go Green</p>
    </div>
    <div class = "row mx-auto mt-5" style="max-width: 75%">
        <div class="col text-center px-4 choices c1">
            <a href="{{ url_for('car') }}"><img width="100%" class="img-fluid iconimages" src="/static/imgs/Electric_car_icon.png"></a>
        </div>

        <div class="col text-center px-4 choices c2">
            <a href="{{ url_for('house') }}"><img width="100%" class="img-fluid iconimages" src="/static/imgs/the-power-of-solar.svg"></a>
        </div>
    </div>
</div>
{%endblock%}

