{% extends "base.html" %}
{%block content%}
<div class="container m-auto p-4" id="trees">
    <div class="p-3">
        <div class="text-center mb-3 bg-light border border-2 border-success rounded">
            <p class="text-black mb-0" id="title">Choose an Area to Go Green</p>
            <p class="text-black mb-0" style="font-size: 1.5em;">Visualize cost and emissions differences!</p>
        </div>
        <div class = "row mx-auto justify-content-center">
            <div class="col-5 lg-col-4 text-center choices c1 px-0 me-3">
                <div class="text-white mx-auto" style="background-color:#73aa1f;"><p class="buttonText">Switch to an EV</p></div>
                <a href="{{ url_for('car') }}"><img class="img-fluid iconimages1" src="/static/imgs/JettaHatchback.png"></a>
            </div>

            <div class="col-5 lg-col-4 text-center choices c2 px-0 ms-3">
                <div class="text-white mx-auto" style="background-color:#73aa1f;"><p class="buttonText">Switch to Solar Panels</p></div>
                <a href="{{ url_for('house') }}"><img class="img-fluid iconimages2" src="/static/imgs/the-power-of-solar.svg"></a>
            </div>
        </div>
    </div>
</div>
{%endblock%}

